/*Google fonts for title and doc*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');


/*Wildcare selector to apply padding and margin to all doc*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*Flexbox and gral style for header*/
header {
    background-color: #FFFAF0;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

/*Style for my H1*/
h1 {
    font-family: 'Courgette', sans-serif;
    color: #6CAE75;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
}

header>a {
    text-decoration: none;
}

/*Style for the navigation bar*/
#nav-bar {
    list-style-type: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

#nav-bar>li {
    margin-bottom: 5px;
}

li>a {
    color: #161515;
    text-decoration: none;

}

/*Shows the user in which page/section are on*/
.active:hover {
    background: #F5A65B;
    padding: 5px;
}

/*Style for Main content*/
#hero {
    height: 500px;
    width: 100%;
    background-image: url("../images/hero-image1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#text-hero-parent {
    position: relative;
}

#text-hero > p {
    font-family: 'Courgette', sans-serif;
    text-align: center;
    position: absolute;
    color: white;
    top: 20%;
    background-color: #F5A65B;
    font-size: 18px;
   }

/*Style for About section*/

#about {
    background-color: #F0F3F5;
}

main {
    font-size: 15px;
}

section>h2 {
    font-family: 'Courgette', sans-serif;
    color: #0B7A75;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

#soy-candels {
    background-image: url("../images/soy-candels.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 180px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #FF7F50;
}


#lampshades {
    background-image: url("../images/lampshades.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 180px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #FF7F50;
}

/*For landscape layout
    max-width: 300px;
    min-height: 300px;*/


/*Section Services*/
#services {
    background-color: #D7C9AA;
}

img {
   width: 100%;
   height: auto;
}

/*Section Contact*/
#contact {
    background-color: #FF7F50;
}

/*Section Footer*/
footer {
    background-color: #FFFAF0;
    padding: 0 1rem;
    height: 60px;
    margin-top: 12px;
}

#flexbox-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul>li {
    list-style-type: none;
}

#flexbox-footer>p {
    font-size: 14px;
}

#flexbox-footer>h3 {
    font-size: 16px;
}

/*Making the header responsive*/
/*Media query for screens of 768px and up*/
@media screen and (min-width: 768px) {
    header {
        display: block;
        height: 100px;
    }

    #nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
        padding-top: 15px;
    }

    #hero {
        height: 600px;
    }

    #text-hero>p {
        font-size: 22px;
        text-align: center;
        left: 170px;    
    }

    /*Section About*/
    #about>h2 {
        font-size: 30px;
        padding-top: 10px;
    }

    #about>p {
        font-size: 18px;
        margin: 16px;
        text-align: justify;
    }

    #soy-candels {
        width: 100%;
        height: 380px;
    }

    #lampshades {
        width: 100%;
        height: 380px;
    }

    #flexbox-footer>p {
        font-size: 16px;
    }

    #flexbox-footer>h3 {
        font-size: 18px;
    }

    a>i {
        font-size: 20px;
    }
}


/*Ver esto no funciona*/
/*Media query for screens of 992px and up*/
@media screen and (min-width: 992px) {
    #nav-bar a:hover {
        border-bottom: 1px solid #FF7F50;
    }


    #hero {
        height: 800px;
    }

    #text-hero>p {
        font-size: 28px;
        left: 240px;
    }

    #soy-candels {
        height: 400px;
        width: 750px;
    }

    #lampshades {
        height: 400px;
        width: 750px;
    }

    #flexbox-about {
        display: flex;
        justify-content: space-evenly;
    }

    #soy-candels #lampshades {
        align-self: baseline;
    }

}


/*Media query for screens of 1200px and up*/
@media screen and (min-width: 1200px) {
    #hero {
        height: 1200px;
        width: 100%;
    }

    #text-hero>p {
        left: 700px;
    }

    #flexbox-about {
        display: flex;
        justify-content: space-evenly;
    }

    #soy-candels #lampshades {
        align-self: baseline;
    }

    #soy-candels {
        height: 500px;
    }

    #lampshades {
        height: 500px;
    }
}