/*Google fonts for title and doc*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');


/*Wildcare selector to apply padding and margin to all doc*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Flexbox and gral style for header*/
header {
    background-color: #FFFAF0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

/*Style for my H1*/
h1 {
    font-family: 'Courgette', sans-serif;
    color: #228B22;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
}

header>a {
    text-decoration: none;
}

/*Style for the navigation bar*/
#nav-bar {
    list-style-type: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

#nav-bar>li {
    margin-bottom: 5px;
}

li>a {
    color: #161515;
    text-decoration: none;

}

/*Shows the user in which page/section are on*/
.active:hover {
    background: #228B22;
}

/*Main content*/
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero-image1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    font-size: 15px;
}

section>h2 {
    font-family: 'Courgette', sans-serif;
    color: #228B22;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

/*Section About*/
#about {
    background-color: #FF7F50;
}

/*Section Services*/
#services {
    background-color: #BDB76B;
}

/*Section Contact*/
#contact {
    background-color: #FF7F50;
}

/*Footer*/
footer {
    display: flex;
    background-color: #DAA520;
}

.SocialMedia-icons {
    align-self: flex-end;
}


/*Media query for screens of 768px and up*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        
        
    }

    header>h1 {
        font-size: xxx-large;
    }
}

/*Media query for screens of 992px and up*/
@media screen (min-width: 992px) {
    #nav-bar li a:hover {}
}

/*Media query for screens of 1200px and up*/
@media screen (min-width: 1200px) {

}